body {
  margin: 0;
}

@font-face {
  font-family: "HSYuji-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.backgroundImg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.header {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: orange;
  font-family: HSYuji-Regular;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheet {
  margin-top: 1rem;
}

.sheet__fileLoader {
  display: none;
}

.sheet__viewer {
  width: 500px;
  overflow: hidden;
}

.sheet__left,
.sheet__right {
  width: 50px;
  height: 30px;
}

.sheet__right {
  transform: rotate(180deg);
}

.sheet__container {
  display: flex;
  position: relative;
  transition-duration: 1s;
}

.sheet__selector {
  display: flex;
  align-items: center;
}

.sheet__auto {
  font-weight: bold;
  margin-right: 1rem;
  background-color: white;
  padding: 0.1rem;
}

.sheet__select {
  visibility: hidden;
}

.sheet__btns {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  justify-content: space-between;
}

.sheet__fileInputer {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sheet__image {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.panel {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel__key {
  display: flex;
}

.panel__symbol {
  width: 50px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.panel__symbol:hover {
  background-color: gray;
  cursor: pointer;
}

.play {
  background-color: gray;
}
